@media screen and (max-width: 768px) {
    /* header area stying */
    header{
        position: relative;
    }
    header nav{
        display: none;
        border: 1px solid var(--font-color);
        border-right: none;
        border-radius: 10px 0px 0px 10px;
        z-index: 3;
        background-color: var(--background-color);
        width: 40%;
        margin-right: 0px;
        position: absolute;
        top: 80px;
        left: 60%;
        padding: 20px;
    }
    nav ul{
    flex-direction: column;
    text-align: center;
    }
    nav ul li{
    border-bottom: 1px solid var(--spacial-color);
    padding-bottom: 10px;    
    }
    header h3{
    font-size: 15px;
    margin: 0;
    }
    header div .header_btn, header div .header_btn_2{
    padding: 7px 20px;
    }

    /* home area styling  */
 #home_section{
    flex-direction: column;
}
/* about section styling  */
#about_section .about_container{
    flex-direction: column;
    
}#about_section h3{
    font-size: 20px;

}
#about_section p{
    font-size: 15px;
}
/* my project  area styling */
.project_item h3{
    font-size: 20px;
}
.project_item p{
    font-size: 15px;
}
.live_project{
    margin-top: 15px;
    flex-direction: column-reverse;
}
.live_project a{
    padding: 6px 20px;
    font-size: 15px;
}



}
