*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --primary-color: #0f3072;
    --secondary-color: #814e00;
    --font-color: #ffffff;
    --background-color_2: #f4f4f4;
    --background-color: #0a0413;
    --spacial-color: #1e4ea7;
    --background_color_3: #000000;

}
html.light{
    --primary-color: #0f3072;
    --secondary-color: #814e00;
    --font-color: #000000;
    --background-color_2: #f4f4f4;
    --background-color: #d1b3ff;
    --spacial-color: #1e4ea7;
    --background_color_3: #dddddd;
}
body{
    font-family: Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);

}
/* common styling */
#about_section,#projects_section,#skills_container,#education_section{
    padding: 60px 0px;
    text-align: left;
    background-color: var(--background_color_3);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h2{
    font-size: 28px;
    margin-bottom: 30px;
    text-transform: capitalize;
    text-align: center;
    color: var(--spacial-color);
    display: inline;
    border-bottom: 2px solid var(--spacial-color);

}


/* header area stying */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
    z-index: 10;
}
header h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}
nav ul li a:hover{
    color: var(--secondary-color);
}
header div .header_btn, header div .header_btn_2,.menuBar{
    padding: 10px 20px;
    background-color: var(--background-color);
    color: var(--font-color);
    text-decoration: none;
    border: 1px solid var(--font-color);
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;
}


/* home area styling  */
#home_section{
    padding: 60px 0px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-color: var(--background-color);
}
.profile_img img{
    max-width: 400px;
    margin-right: 50px;
}
#home_section h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.profile_intro p{
    font-size: 18px;
    margin-bottom: 30px;
}
.intro{
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
 .profile_btn{
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home_section .btn,#about_section .btn{
    margin: auto 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-decoration: none;
    border-radius: 0px 10px 5px 10px;
    border: 1px solid var(--font-color);
    font-weight: bold;
}
#home_section .btn:hover{
    background-color: #7a2e00;
}
.social_media{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.social_media a{
    color: var(--font-color);
    font-size: 28px;
    text-decoration: none;
}
.profile_btn button i,.header_btns .header_btn_2 i{
    font-size: 16px;
    margin-right: 10px;
    animation-name: down_up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes down_up{
    0%{transform: translateY(0px);}
    50%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
}
.header_btns .header_btn i{
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 0px;
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/* about section styling  */

#about_section .about_img {
    padding: 0px ;
    margin-top: 20px;

}
#about_section .about_img img{
    max-width: 400px;
    border-radius: 50%;
    margin: 0px 20px 30px;
}
#about_section .about_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0px 20px;
}#about_section h3{
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--spacial-color);
    text-transform: capitalize;
     font-family: 'Times New Roman', Times, serif
}
#about_section p{
    font-size: 18px;
    max-width: 700px;
    min-width: 200px;
    margin: auto;
    line-height: 1.6;
}


/* my project  area styling */
  
#project_section{
    padding-top: 50px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--background-color_2);
}
 #projects_section .projects_container{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    padding: 0px 20px;
    margin: 20px ;
}
.project_item{
    background-color: transparent;
    padding: 20px;
    border: 1px solid var(--spacial-color);
    border-radius: 10px;
    color: var(--font-color);
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.project_details{
    text-align: left;
    margin: auto 20px;
}
.project_item h3,.project_item h4{
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--spacial-color);
    text-transform: capitalize;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.project_item h4{
    text-align: left;
}
.project_item p{
     text-align: left;
display: inline;
    font-size: 15px;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif 
}

.project_item img{
    max-width: 500px;
    min-width: 300px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    margin-bottom: 15px;
}
.project_container .project_item .see_more_btn{
    display: inline;
    text-transform: capitalize;
    padding: 2px 10px;
    color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif 
}
.see_more{
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid var(--spacial-color);
}
.see_more h4{
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--spacial-color);
    text-transform: capitalize;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.see_more ul{
    list-style: disc;
    margin-left: 20px;
}
.see_more ul li{
    font-size: 16px;
    line-height: 1.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif 
}
.see_more ul li:not(:last-child){
    margin-bottom: 8px;
}


.live_project{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.live_project a{
    padding: 6px 20px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-decoration: none;
    border-radius: 0px 10px 5px 10px;
    border: 1px solid var(--font-color);
    font-weight: bold;
    text-transform: capitalize;
}
.live_project a:hover{
    background-color: #7a2e00;
}
.live_project i{
   margin-right: 10px;
   font-size: 16px;
   color: var(--font-color);
   background-color: var(--background-color);
}
/* skills area styling */
#skills_section{
    padding-top: 50px;
    text-align: center;
    background-color: var(--background_color_3);
    color: var(--background-color_2);
}
.skills_container{
    padding: 60px 0px;
    text-align: center;
    background-color: var(--background_color_3);
    color: var(--background-color_2);
}
.frontend_skills,.backend_skills{
    margin: 20px 0px;
}
.skills_container h3{
    font-size: 22px;
    margin-bottom: 0px;
    color: var(--spacial-color);
    text-transform: capitalize;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif
}
.skills_container .fr_bc_h3{
    color: var(--background-color_2);
    animation-name: color_effect;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes color_effect{
    0%{color: var(--background-color_2);}
    50%{color: var(--spacial-color);}
    100%{color: var(--background-color_2);}
}
.skills_container .frontend_skills,.skills_container .backend_skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
}
.skills_container .skill_item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--spacial-color);
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
.skill_item p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif 
}
.skill_item div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.skill_item img{
    width: 50px;
    height: 50px;
}
.skill_bar{
    width: 100%;
    background-color: var(--background-color_2);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}
.skill_bar .learnd_style{
    height: 20px;
    border-radius: 10px;
    background-color: var(--spacial-color);
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
    padding-right: 10px;
    line-height: 20px;
    padding-right: 10px;
}

/* education area styling */
#education_section{
    padding: 60px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-color);

}
#education_section .education_container{
    padding: 0px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    
}
#education_section .degrees{
    color: var(--font-color);
    padding: 20px;
    border-radius: 10px;
    margin: 0px auto;
}
.education_item{
    font-size: 18px;
    background-color: var(--spacial-color);
    margin-bottom: 10px;
    color: var(--font-color);
    padding: 20px;
    border-left: 10px solid var(--font-color);
    border-radius: 10px 0px 0px 10px;    
}
.education_item h3{
    margin-bottom: 10px;
    font-size: 18px;
}
.education_item p{
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Times New Roman', Times, serif
}
.education_container img{
    max-width: 400px; 
    border-radius: 10px;
    margin: 0px 20px;
}


/* Contact Section */
#contact {
    background-color: var(--background_color_3);
    color: var(--background-color_2);
    padding: 80px 0;
    font-family: "Poppins", sans-serif;
}
.contact-container {
    width: 85%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
#contact h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--spacial-color);
}


#contact p {
    color: #555;
    margin-bottom: 40px;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

/* Contact Form */
.contact-form {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.contact-form button {
    background: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #0056b3;
}

/* Contact Info */
.contact-info {
    flex: 1;
    min-width: 250px;
    text-align: left;
}
.contact-info h3 {
    color: #222;
    margin-bottom: 15px;
}

.contact-info p {
    margin: 10px 0;
    color: #444;
}

.social-links a {
    display: inline-block;
    margin-right: 15px;
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.social-links a:hover {
    color: #0056b3;
}


/* footer area styling */
footer{
    text-align: center;
    padding: 0px;
    background-color: var(--primary-color);
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer p{
    color: var(--font-color);
    font-size: 14px;
    padding: 10px;
    margin: 0px;

}
footer .social_media{
    margin: 10px;
    padding: 10px;
}